.footer-image-container {
    width: 10%;
    height: auto;
}

.footer-image-container img {
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.footer-tagline-container,
.footer-disclaimer-container {
    width: 60%;
}

.footer-section-container div {
    margin-bottom: 2%;
}

.footer-section-container {
    margin-bottom: 5%;
}

.footer-copyright-container {
    margin-bottom: 5% !important;
}

.footer-socials-container {
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 100%;
}

.footer-main-section {
    background:
        url("../images/sections/home-page/footer/background-image.png");
    background-size: cover;
    /* Ensures it covers the entire section */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents repeating */
}

#footer {
    padding-bottom: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .footer-image-container {
        width: 20%;
    }

    .footer-section-container div {
        margin-bottom: 5%;
    }

    .footer-tagline-container,
    .footer-disclaimer-container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .footer-image-container {
        margin: 0 40%;
    }
}
